
a {
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 0.8em;
    color: white;
}

.vivid {
    background-color: #910991;
}

  /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: center;
  padding: 4px;
  border: 3px solid white;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.invalid {
  border: 1px solid red;
  background-color: #ffdddd;
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}

.selected {
  border: 3px solid magenta;
}

.hidden {
  display: none;
}

.rcorners {
  display: inline-block;
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
  width: 140px;
  height: 200px;
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
}

.rcorners:focus {
  background-color: lightblue;
}

.rcorners:active {
  outline: 2px solid black;
}