
a {
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 0.8em;
    color: white;
  }

.vivid {
    background-color: #910991;
  }

  /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 20px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}